################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewsWebCrawler/NewsWebCrawler/bin
/NewsWebCrawler/NewsWebCrawler/obj
/NewsWebCrawler/NewsWebCrawler/
/NewsWebCrawler/NewsWebCrawler/App_Data
packages/
.vs