@{
    ViewBag.Title = "Pick Your Team";
}

<div class="jumbotron">
    <h1>@ViewBag.Title<br /></h1>
    <h4>After This Step You'll Never Miss Anything About Your Team!</h4>
</div>

@if (ViewBag.IsTeamPicked)
{
    <div class="notAuthenticated">
        <p>Since you have already picked a favorite team, picking a different team will replace your previous selection.</p>
    </div>
}




<form method="post" action="PickTeam">
    <label for="team_pick">Pick Your Team:</label> 
    <select name="team_pick" id="team_pick">
        <option value="">Please Select The Team To Follow</option>
        <option value="Washington">University of Washington</option>
        <option value="Harvard">Harvard</option>
        <!--
        <option value="UGA">University of Georgia</option>
        <option value="California">University of California</option>
            -->
    </select>

    <input type="submit" required />
</form>
