@{
    ViewBag.Title = "Pick Your Team";
}

<div class="jumbotron">
    <h1>@ViewBag.Title<br /></h1>
    <h4>After this step you'll never miss anything about your team!</h4>
</div>




<form method="post" action="PickTeam">
    <label for="team_pick">Pick Your Team:</label>
    <select name="team_pick" id="team_pick">
        <option value="">Please Select The Team To Follow</option>
        <option value="UW">University of Washington</option>
        <option value="Harvard">Harvard</option>
        <option value="UGA">University of Georgia</option>
        <option value="Cal">University of California</option>
    </select>

    <input type="submit" required />
</form>
