@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h3 class="lead">Feel Free to Reach Out!</h3>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:mitownsend@augusta.edu">Mitownsend@augusta.edu</a><br />
</address>