@{
    ViewBag.Title = "Your Personalized Rowing News Site";
}

<div class="jumbotron">
    <h1>Rowing News</h1>
    <h3 class="lead">All the news for every team you wish to follow!</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Find Your Teams</h2>
        <p>
            Select which teams you want to follow and never miss out on anything! No need to go look for the news again.  Always
            stay current on what's going on.  
        </p>
    </div>
    <div class="col-md-6">
        <h2>Find All the News</h2>
        <p>
            You don't need to search around for results or news artcles related to your team.  
            No need to search through Row2K to find the few articles you want to read.
            Everything you wanted to read about your team is now found in one place!
        </p>
    </div>
</div>